.crane-info-img {
    position: relative;
    width: 80%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.current-crane-info {
    
    border-radius: 0px 39px 0px 25px;
    border: 30px solid #ffffff;
    border-image: url('../assets/border.png') 51 38 21 132;
    border-width: 50px 46px 13px 64px;
    box-sizing: border-box;
    height: 630px;

}

.current-crane-info-wrapper {
    position: absolute;
    left: 0;
    width: 100%;
    height: 380px;

}

.crane-info-container{
    position: relative;
    width: 90%;
    margin: 0 auto;
}

.info-box {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.info-box p:nth-child(1) {
    position: absolute;
    bottom: 3vw;
    width: 20%;
    font-size: 12px;
    left: 0.7vw;
    color: #ffffff;
}

.info-box p:nth-child(2) {
    position: absolute;
    top: 6.2vw;
    width: 50%;
    font-size: 12px;
    left: 5vw;
    color: #ffffff;
}

.info-box p:nth-child(3) {
    position: absolute;
    bottom: 3vw;
    width: 20%;
    font-size: 12px;
    left: 7.5vw;
    color: #ffffff;
}

.info-box p:nth-child(4) {
    position: absolute;
    top: 3.5vw;
    width: 20%;
    font-size: 12px;
    right: 0vw;
    color: #ffffff;
}

.crane-params-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 0 auto;
}

.crane-params-info-container p {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    width: 100%;
    padding: 10px;
    background-color: #8c8c8c28;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
}

.current-crane-main-wrapper {
    position: relative;
    background: #00000021;
    backdrop-filter: blur(5px);
}

.current-crane-info-title {
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    position: absolute;
    top: 25px;
    left: 0;
    width: 100%;
    height: 100%;
}




.current-crane-info-wrapper .inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 0 10px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.current-crane-info-wrapper .inner .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.current-crane-info-wrapper .inner .item h4 {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 5px;
}

.current-crane-info-wrapper .inner .item span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #ffffff;
}

.current-crane-info-wrapper .inner .item span i {
    margin-right: 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}