.header {
    width: var(--viewer-width, 100%);
    height: calc(100px * var(--scale, 1));
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 1000;
}

.header .logo {
    width: calc(12vw * var(--scale, 1));
    height: auto;
    margin-top: 0.5vw;
}

.bar-cover {
    width: 90%;
    height: auto;
}

.text-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-box p {
    font-size: calc(18px * var(--scale, 1));
    font-weight: bold;
    color: #fff;
}
