.header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 1000;
}

.header .logo {
    width: 12vw;
    height: auto;
    margin-top: 0.5vw;
}

.bar-cover {
    width: 90%;
    height: auto;
}

.text-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-box p {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}
