

.info-panel {
    position: fixed;
    top: 0px;
    bottom: 0;
    right: calc(10px * var(--scale, 1));
    width: calc(380px * var(--scale, 1));
    min-width: calc(300px * var(--scale, 1));
    z-index: 1;
    padding: calc(10px * var(--scale, 1));
}

.info-panel h1 {
    font-size: calc(20px * var(--scale, 1));
    font-weight: bold;
    color: #ffffff;
}